body{
    background-color: rgb(41, 38, 38);
    color: white;
    text-align: justify;
}

h1{
    text-align: center;
    color: black;
    text-align: center;
}
.images{
    display: flex;
    justify-content: space-evenly;
    border: 3px solid white;
    height:200px;
    flex-wrap: wrap;
    overflow: visible;
    
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.navbar a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 20px;
    width: 75px;
    color: black;
}
.navbar a:hover{
    background-color: rgb(202, 204, 204);
}
.navbar li{
    float: left;
    object-fit: contain;
}
@keyframes slideLeft{
    from{transform: translateX(300%);}
}
@keyframes slideRight{
    from{transform: translateX(-300%);}
}
.images >img{
    text-align: center;
    height: 100px;
    width: 25%;
    object-fit: cover;
}
.right{
    animation: slideRight;
    animation-duration: 2s;

}
.left{
    animation-name: slideLeft;
    animation-duration: 2s;

}